.human-page
{

font-size:16px;
line-height:1.5em;
color:#3d3d3d;
}.human-page a
{

text-decoration:none;
}.human-page .human-logo img
{

width:120px;
}.human-page .site-footer .human-cookie-box
{
background-color:#53d3f3;
padding:20px;
width:0%;
height:0px;
bottom:0px;
right:-42px;
position:fixed; 
z-index:5;
} .human-page.scrolled .site-footer .human-cookie-box
{

width:300px;
height:230px;
bottom:0px;
right:0px!important;
}.human-page .form-elem
{

line-height:30px;
margin-top:5px;
margin-bottom:5px;
border-top-left-radius:2px;
border-top-right-radius:2px;
border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
height:30px;
}.human-page .human-section
{

padding:20px;
}.human-page .human-section>.wpb_column
{

padding-left:10px;
padding-right:10px;
}.human-page .site-footer .vc_col-sm-3:nth-child(3){
text-align:center;
} p,a,h1,h2,h3
{
padding-left:5px;
padding-top:5px;
} .thumb a
{
padding-left:0px;
padding-top:0px;
} .human-page a:hover{
color:#538dde;
} .human-page .site-header .human-cookie-box
{
text-align:center;
color:#fcfcfc;
background-color:#1d63a9;
border-color:#9c1b1b;
border-style:solid;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:1px;
} .human-page .human-cookie-box a.toggle{
top:-5px;
right:0px;
position:absolute;
} .human-page .site-header
{
background-color:#cbdaeb;
} .human-page .site-header .main-navigation
{
background-color:#dee7f1;
} @media screen and (max-width: NaNpx){ .human-page
{

font-size:16px;
line-height:1.5em;
color:#3d3d3d;
}.human-page a
{

text-decoration:none;
}.human-page .human-logo img
{

width:120px;
}.human-page .site-footer .human-cookie-box
{
background-color:#53d3f3;
padding:20px;
width:0%;
height:0px;
bottom:0px;
right:-42px;
position:fixed;
z-index:5;
} .human-page.scrolled .site-footer .human-cookie-box
{

width:300px;
height:230px;
bottom:0px;
right:0px!important;
}.human-page .form-elem
{

line-height:30px;
margin-top:5px;
margin-bottom:5px;
border-top-left-radius:2px;
border-top-right-radius:2px;
border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
height:30px;
}.human-page .human-section
{

padding:20px;
}.human-page .human-section>.wpb_column
{

padding-left:10px;
padding-right:10px;
}.human-page .site-footer .vc_col-sm-3:nth-child(3){
text-align:center;
} p,a,h1,h2,h3
{
padding-left:5px;
padding-top:5px;
} .thumb a
{
padding-left:0px;
padding-top:0px;
} .human-page a:hover{
color:#538dde;
} .human-page .site-header .human-cookie-box
{
text-align:center;
color:#fcfcfc;
background-color:#1d63a9;
border-color:#9c1b1b;
border-style:solid;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
border-bottom-width:1px;
} .human-page .human-cookie-box a.toggle{
top:-5px;
right:0px;
position:absolute;
} .human-page .site-header
{
background-color:#cbdaeb;
} .human-page .site-header .main-navigation
{
background-color:#dee7f1;
}  }@media screen and (max-width: 1024px){ .human-page
{

}  }@media screen and (max-width: 976px){ .human-page
{
font-size:0.8em;
}  }@media screen and (max-width: 768px){ .human-page .mobile-bar
{
background-color:#9cbae7;
display:block;
} .human-page .site-header
{

} .human-page .content-wrapper
{

}  }@media screen and (max-width: 756px){ .human-page .site-header .human-section
{
text-align:center;
}  }@media screen and (max-width: 300px){  }@media screen and (max-width: 200px){  }