<div style="text-align:right">
          <span class="toggle-css" data-toggle="main-css-div-holder">hide [-]</span>
</div>
<div class="gen-holder"></div>
<div id="temp-css" class="temp-css resolutions ui-sortable" style="display: none;" data-res_number="10000"><div id="s__human_page" css-folder="" css-section="" css-tag=".human-page"><div class="html-css-bar"><table><tbody><tr><td><span class="del-css-selector">[x]</span></td><td><button class="select-css">edit</button></td><td><span class="handle fa fa-arrows"></span></td></tr></tbody></table></div><div class="styles">.human-page
                              {
                              font-size:1em;
                              color:#d25555;
                              } </div></div></div>

<div id="temp-css-1024" class="temp-css resolutions ui-sortable" style="display: block;" data-res_number="1024">

          <div id="s_1024_human_page" css-folder="" css-section="" css-tag=".human-page"><div class="html-css-bar"><table><tbody><tr><td><span class="del-css-selector">[x]</span></td><td><button class="select-css">edit</button></td><td><span class="handle fa fa-arrows"></span></td></tr></tbody></table></div><div class="styles">.human-page
                              {
                              color:#abd778;
                              } </div></div></div>
<div id="temp-css-300" class="temp-css resolutions ui-sortable" style="display: none;" data-res_number="300"></div>
<div id="temp-css-200" class="temp-css resolutions ui-sortable" style="display: none;" data-res_number="200"></div>