.human-loading-gif-wrapper {
        position:fixed;
        z-index: 99999999999;
        width:100%;
        height:100%;
        background:rgba(225,225,225,0.8);
        display:none;
        left:0px;
        top:0px;
}
.human-loading-gif {
        background: url('../../../assets/images/icons/h-loading.gif');
        width: 84px;
        height: 87px;
        position: relative;
        left: 50%;
        right: 50%;
        top: 30%;
}
.search_tag *{
        cursor:url('../../../assets/images/search.png') 32 32, default;
}
.mega-menu .related_post_wrapper {
        max-width: 200px;
        float: left;
}
.mega-menu .related_posts_template {
        background: #fff;
        display: flex;
        margin-top: 15px;
        text-align: center;
        padding: 5px 10px;
}
.mega-menu .human-recent-thumb img {
        width: 180px;
        height: 100px;
}